body {
    margin: 0;
    font-family: serif;
    color: brown;
}
.container {
    background: rgb(0, 206, 255);
    background: linear-gradient(
        90deg,
        rgba(0, 206, 255, 0.8883928571428571) 0%,
        rgba(0, 0, 125, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-text {
    font-size: larger;
}
h1 {
    text-transform: uppercase;
}
